body {
    background-image: linear-gradient(to right, #B5F1CC, #E5FDD1);
}

input {
    color: black;
    background-color: transparent;
    border: medium solid transparent;
    outline: none;
    font-size: 100px;
    height: 300px;
    width: 50%;
    margin-top: 4%;
    text-align: right;
    word-wrap: break-word;
  }


p {
    color: black;
    font-size: 100px;
    margin-top: 4%;
}

.textF {
    margin-top: 8%;
}