body {
    background-image: linear-gradient(to right, #B5F1CC, #E5FDD1);
}

input {
    color: #BAD7E9;
    background-color: transparent;
    border: medium solid transparent;
    outline: none;
    font-size: 50px;
    height: 300px;
    width: 50%;
    margin-top: 4%;
    text-align: right;
    word-wrap: break-word;
  }


p {
    color: #2B3467;
    font-size: 50px;
    margin-top: 4%;
}

span {
    color: #2a2438;
    text-decoration: underline;
}

.textF {
    margin-top: 2%;
}

.center {
    text-align: center;
}